<!DOCTYPE html>
<html lang="<%= locale || 'fr' %>">

<head>
  <%- include('partials/head', { pageTitle }) %>
</head>

<body>

  <%- include('partials/header', { user, locale, currentPage }) %>

  <main>
    <%- body %>
  </main>

</body>
</html>