<!DOCTYPE html>
<html lang="<%= locale || 'fr' %>">

<head>
  <%- include('head', { pageTitle: pageTitle || 'Ecommerce JIM' }) %>
</head>

<body>
  <%- include('nav', { user, locale, currentPage }) %>

  <%- body %>
</body>

</html>